<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div class="coupon">
  <div class="container">
    <h3> The History of Coffee </h3>
  </div>
  <img src="https://images.wallpaperscraft.com/image/auto_road_traffic_120501_3840x2160.jpg" alt="Avatar" style="width:100%;">
  <div class="container" style="background-color:white">
    <p>Coffee cultivation and trade began on the Arabian Peninsula.  By the 15th century, coffee was being grown in the Yemeni district of Arabia and by the 16th century it was known in Persia, Egypt, Syria, and Turkey.</p>
  </div>
  <div class="container">
  </div>
</div>
</body>
</html>
