/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: rgb(248, 254, 245);
}

.topnav a {
  float: left;
  color: #627c85;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #020c0a;
  color: #7c847e;
}

.topnav a.active {
  background-color: rgba(51, 104, 132, 1);
  color: #d1dfd5;
}

.topnav-right {
  float: right;
}

